.myBtn {
    padding: 5px 15px;
    margin-top: 15px;
    margin-left: 400px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 2px solid teal;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}